:root {
    --cor-primaria: #5351e4;
    --cor-media: #8f7633;
    --cor-secundaria: #394738;
    --cor-fundo: linear-gradient(to bottom, var(--cor-primaria) 30%, var(--cor-media) 70%, var(--cor-secundaria) 95%);
    --cor-texto: white;
    --cor-borda: rgba(255, 255, 255, 0.3);
    --cor-destaque: rgba(52, 176, 117, 0.7);
    --cor-vitoria: #2ecc71; /* Cor para destacar a vitória */
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: Consolas, monaco, monospace;
    background: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0; /* Adicionado para alinhar à esquerda */
    width: 100%;
    background-color: rgba(9, 53, 115, 0.5);
    padding: 10px 20px; /* Adicionado padding para espaçamento interno */
    display: flex;
    align-items: center;
}

.tituloTxt {
    font-size: 24px;
    margin: 0;
    margin-left: 10px; /* Espaçamento entre a logo e o texto */
}

.icon-logo {
  height: 50px; /* Ajuste o tamanho conforme necessário */
  margin-right: 10px; /* Adiciona um espaço à direita da logo */
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.tabuleiro {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin-bottom: 20px;
}

.quadrado {
    width: 100px;
    height: 100px;
    background-color: rgba(9, 53, 115, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    cursor: pointer;
    color: rgba(9, 53, 115, 0.0);
    border: 2px solid var(--cor-borda);
    border-radius: 10px;
    transition: transform 0.2s, box-shadow 0.2s;
}

.quadrado:hover {
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.3);
}
.vencedor-quadrado{
        background-color: var(--cor-vitoria);
         color: white !important;
}

.container-jogadores {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}

.jogador {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    text-align: center; /* Centraliza o texto dos jogadores */
}
.nome-jogador{
    font-size: 1.2em; /* Ajuste o tamanho do texto */
    margin-bottom: 5px; /* Espaço abaixo do nome */
}

.jogador-icon {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
    transition: transform 0.3s;
}
.jogador-icon-destaque {
    transform: scale(1.2);
}
.container-info-jogadores {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.info {
    margin: 10px 0;
}

button {
    background-color: transparent;
    font-size: 1rem;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
    color: var(--cor-texto);
    border: 1px solid var(--cor-texto);
    border-radius: 5px;
    transition: background-color 0.2s;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.velhaL {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 150px;
}

.velhaR {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 150px;
}

/* Modal de Registro */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
}
.modal-content {
    background-color: rgba(9, 53, 115, 0.8); /* Cor de fundo do modal */
    margin: auto;
    padding: 25px;
    border: 1px solid #888;
    width: 90%;
    max-width: 500px;
    border-radius: 10px;
    text-align: center;
}
.cor_player{
    background-color: rgba(9, 53, 115, 0.8);

}

.registro-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input-group{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}
.input-group-p{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    justify-content: apace-around;
    font-size: 1.5rem;
}

.input-group-p {
    display: flex;
    align-items: center;
     margin-bottom: 10px;
}

.input-group-p input[type="radio"] {
     margin-right: 3px;
}

.piece-label {
  margin-right: 10px; /* Espaço entre a letra e o próximo radio */
  margin-left: 2px;
}

.input-group label,
.input-group select{
    margin-bottom: 15px;
}


.input-group input,
.input-group select{
    padding: 8px;
    border-radius: 5px;
    border: 1px solid var(--cor-borda);
    background-color: rgba(201, 216, 30, 0.1);
    color: var(--cor-texto);
    text-align: center;
    margin-bottom: 10px;

}
.input-group label {
  font-size: 1.5rem;
  color: var(--cor-texto); /* Texto Branco */
  margin-bottom: 5px;
}
/* Responsividade para telas menores */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .tabuleiro {
        margin-bottom: 20px;
    }
    .container-jogadores{
         flex-direction: row;
          justify-content: center;
         margin-top: 10px;
    }
    .jogador {
        margin: 10px;
    }

    .container-info-jogadores {
        margin-top: 20px;
    }

    .velhaL,
    .velhaR {
        display: none; /* Oculta as velhas em telas menores */
        bottom: 10%;
        right: 10%;
        height: 200px;
    }

}